<ion-header>
  <ion-toolbar>
    <ion-title>
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button class="mt-3" (click)="getLoca()" color="primary" shape="round">
          Obtener
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button class="mt-3" (click)="watchLoca()" color="primary" shape="round">
          Mirar
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">

        <h2> Latitud </h2>
        <ion-label>
          {{ latitud }}
        </ion-label>


        <h2> Longitud </h2>
        <ion-label>
          {{ longitud }}
        </ion-label>


      </ion-col>
    </ion-row>
    
  </ion-grid>


    
</ion-content>
